---
name: CI
on:
  push:
    tags:
      - 'v*'
    branches:
      - 'main'
      - 'master'
  pull_request:
env:
  # renovate: datasource=github-releases depName=golangci/golangci-lint versioning=semver-coerced
  GOLANGCI_LINT_VERSION: "v2.10.1"
  # renovate: datasource=github-releases depName=goreleaser/goreleaser versioning=semver-coerced
  GORELEASER_VERSION: "v2.13.3"
  # renovate: datasource=github-releases depName=ko-build/ko versioning=semver-coerced
  KO_VERSION: "v0.18.1"
jobs:
  go:
    name: Go
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
      - name: Run tests
        run: go test -v ./...
      - name: Build (Snapshot)
        uses: goreleaser/goreleaser-action@ec59f474b9834571250b370d4735c50f8e2d1e29 # v7
        if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
        with:
          version: ${{ env.GORELEASER_VERSION }}
          args: --clean --skip=ko,publish --snapshot
      - name: Upload Artifacts (Snapshot)
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
        with:
          name: dist
          path: dist/*
      - name: Set up ko
        uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: ${{ env.KO_VERSION }}
      - name: Release
        uses: goreleaser/goreleaser-action@ec59f474b9834571250b370d4735c50f8e2d1e29 # v7
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: ${{ env.GORELEASER_VERSION }}
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
