---
name: Go
on:
  push:
    tags:
      - 'v*'
    branches:
      - 'master'
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.39.0
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: ^1.16
      - name: Checkout
        uses: actions/checkout@v3
      - name: Test
        run: go test -v ./...
      - name: Unshallow
        # If we are building a tag/release, fetch history so the changelog can be generated.
        if: startsWith(github.ref, 'refs/tags/')
        run: git fetch --prune --unshallow
      - name: Build (Snapshot)
        uses: goreleaser/goreleaser-action@v3
        if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
        with:
          version: latest
          args: --rm-dist --skip-publish --snapshot
      - name: Upload Artifacts (Snapshot)
        uses: actions/upload-artifact@v3
        if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
        with:
          name: dist
          path: dist/*
      - name: Release
        uses: goreleaser/goreleaser-action@v3
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
